h1{
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  background-color: green;
}

.botones{
  justify-content: center;
  align-items: right;
  display: flex;
}

body{
  text-align: center;
  color: white;
  background-color: rgb(36, 34, 34);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
  justify-content: center;
}

button {
  
  background-color:rgb(17, 17, 116);
  border-radius: 10%;
  color:white;
  margin: 2%;
  padding: 1%;
  font-size: large;
}
:link{
  color: aqua;
}

button:hover{
  background-color:green;
}

aside {
  background-color: #f4f4f4;
  padding: 10px;
  border-left: 5px solid #ccc;
  margin-top: 20px;
}

aside h3 {
  margin-top: 0;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin: 5px 0;
}

aside ul li a {
  text-decoration: none;
  color: #007bff;
}

aside ul li a:hover {
  text-decoration: underline;
}

input{
  max-width: 2cm;
  margin-right: 1cm;
}

